body {
    font-size: 12px;
}

#shred-view,
#open-shred {
    display: none;
}

.ui-dialog {
    width: auto !important;
}

    .ui-dialog .ui-dialog-titlebar {
        text-align: center;
    }

        .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
            float: none;
        }

        .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
            left: .3em;
        }

    .ui-dialog .ui-dialog-content {
        padding: 0;
        min-height: 0 !important;
    }
    
        .ui-dialog .ui-dialog-content .code {
            margin: 3px 5px;
        }
        
            .ui-dialog .ui-dialog-content form.save-shred {
                display: none;
            }

            .ui-dialog .ui-dialog-content .code textarea {
                border: 0;  
                margin: 0;
                padding: 10px;
                width: 200px;
                height: 100px;
                font: 12px menlo, monospace;
            }
            
ul#file-menu {
    list-style: none;
    margin: 3px 10px 3px;
    padding: 0;
}   

    ul#file-menu li {
        float: left;
    }
    
        ul#file-menu li + li {
            margin-left: 10px;
        }
        
        ul#file-menu li a {
            display: block;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
        }
        
            ul#file-menu li a.create { background-image: url(/webroot/img/menu/create.png); }
            ul#file-menu li a.open { background-image: url(/webroot/img/menu/open.png); }
            
.shred ul.options {
    list-style: none;
    margin: 3px 10px 3px;
    padding: 0;
}   

    .shred ul.options li {
        float: left;
    }
    
        .shred ul.options li + li {
            margin-left: 10px;
        }
        
        .shred ul.options li a {
            display: block;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
        }
        
            .shred ul.options li a.save { background-image: url(/webroot/img/controls/save.png); }
            .shred ul.options li a.play { background-image: url(/webroot/img/controls/play.png); }
            .shred ul.options li a.stop { background-image: url(/webroot/img/controls/stop.png); }
            
form.file-form {
    background: #ccc;
    -webkit-border-radius: 3px;
    margin: 2px 1px;
}

    form.file-form label {
        margin: 5px 5px 5px 10px;
        text-shadow: white 0px 1px;
    }

    form.file-form input[type="text"] {
        margin: 5px;
        background: white;
        border: none;
        padding: 3px;
        width: 147px;
    }
    
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}